body {
    background-image: url("file:background.png");
    background-color: #7E8F7C;
    color: white;
}
h1 {
   FONT-FAMILY:Courier New ; FONT-SIZE: 32pt; FONT-STYLE: italic; FONT-WEIGHT: bold;
}
h3 {
    font: bold italic 24px sans-serif;
}
p { text-align: justify; font: 18px sans-serif }

p1 { text-align: center ; font: bold 22px sans-serif }
label
{
    color: white;
    font-weight: bold;
    font-size: 12pt;
    font-family: Courier New;
    font-style: italic;
}

