body {
    background-image: url("file:Vmware-Wallpaper.jpg");
    background-size: cover; 
    background-position: center center;   
    color: white;
}
h1 {
   FONT-FAMILY:Courier New ; FONT-SIZE: 32pt; FONT-STYLE: italic; FONT-WEIGHT: bold;
}
h3 {
    font: bold italic 20px sans-serif;
}
p { text-align: justify; font: 14px sans-serif }

p1 { text-align: center ; font: bold 22px sans-serif }
label
{
    color: white;
    font-weight: bold;
    font-size: 12pt;
    font-family: Courier New;
    font-style: italic;
}

.fill{
height: 500px;
width: 645px;
overflow-y: scroll;
background-image: url("file:wikileaks1.jpeg");
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}
#outputtext{
color: black;
FONT-FAMILY:Courier New ; FONT-SIZE: 12pt; FONT-WEIGHT: bold; 
}
#display1{
width: 350px
}
#inputNumber{
padding-top: 30px;
}
#submitButton{
background-color: black;
height: 40px;
width: 80px;
border-radius: 5px;
}

#buttonClass{
padding-top: 20px;
padding-left: 240px;
}
